In [2]:
import duckdb
import pandas as pd

In [3]:
con = duckdb.connect("./src/db/files.db")
con.sql("CREATE TABLE test (i INTEGER)")
con.sql("INSERT INTO test VALUES(42)")
con.table("test").show()
con.close()

CatalogException: Catalog Error: Table with name "test" already exists!

In [4]:
con.sql("CREATE TABLE test2 (i INTEGER, name varchar(100), dept varchar(250))")
con.sql("INSERT INTO test2 VALUES(1, 'rohit', 'IT')")
con.table("test2").show()
con.close()

CatalogException: Catalog Error: Table with name "test2" already exists!

In [5]:
con = duckdb.connect("./src/db/files.db")
con.sql("CREATE TABLE test2 (i INTEGER, name varchar(100), dept varchar(250))")
con.sql("INSERT INTO test2 VALUES(1, 'rohit', 'IT')")
con.table("test2").show()
con.close()

CatalogException: Catalog Error: Table with name "test2" already exists!

In [6]:
con=duckdb.connect("./src/db/files.db")
con.sql("INSERT INTO test2 VALUES(2, 'pammi', 'law')")
con.table('test2').show()
con.close()

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
└───────┴─────────┴─────────┘

In [7]:
con=duckdb.connect("./src/db/files.db")
con.sql("INSERT INTO test VALUES(43)")
con.table("test").show()
con.close()

┌───────┐
│   i   │
│ int32 │
├───────┤
│    42 │
│    43 │
│    43 │
│    43 │
└───────┘

In [8]:
con=duckdb.connect("./src/db/files.db")
con.sql("SELECT * from test2")

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
└───────┴─────────┴─────────┘

In [9]:
con.sql("SELECT * FROM test2 where dept='IT'")

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
└───────┴─────────┴─────────┘

In [10]:
duckdb.sql("SELECT * FROM './src/data/emp.csv'")

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
con.sql("CREATE TABLE test3 as SELECT * FROM './src/db/emp.csv'")
con.table("test3").show()

IOException: IO Error: No files found that match the pattern "./src/db/emp.csv"

In [12]:
con.sql("CREATE TABLE test3 as SELECT * FROM './src/data/emp.csv'")
con.table("test3").show()

CatalogException: Catalog Error: Table with name "test3" already exists!

In [13]:
con.table("test3").show()

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [14]:
con.sql("SELECT * FROM test3 WHERE first_name='corny'")

┌───────┬────────────┬───────────┬─────────┬─────────┬─────────┐
│  id   │ first_name │ last_name │  email  │ gender  │  city   │
│ int64 │  varchar   │  varchar  │ varchar │ varchar │ varchar │
├───────┴────────────┴───────────┴─────────┴─────────┴─────────┤
│                            0 rows                            │
└──────────────────────────────────────────────────────────────┘

In [15]:
con.sql("SELECT * FROM test3 WHERE first_name='Corny'")

┌───────┬────────────┬───────────┬─────────────────────┬─────────┬─────────┐
│  id   │ first_name │ last_name │        email        │ gender  │  city   │
│ int64 │  varchar   │  varchar  │       varchar       │ varchar │ varchar │
├───────┼────────────┼───────────┼─────────────────────┼─────────┼─────────┤
│     1 │ Corny      │ O'Rudden  │ corudden0@apple.com │ Female  │ Shaxi   │
└───────┴────────────┴───────────┴─────────────────────┴─────────┴─────────┘

In [16]:
con.sql("select * from test3")

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
con.sql("select * from test3 where gender='Female'")

┌───────┬────────────┬───────────┬────────────────────────────────┬─────────┬──────────────────┐
│  id   │ first_name │ last_name │             email              │ gender  │       city       │
│ int64 │  varchar   │  varchar  │            varchar             │ varchar │     varchar      │
├───────┼────────────┼───────────┼────────────────────────────────┼─────────┼──────────────────┤
│     1 │ Corny      │ O'Rudden  │ corudden0@apple.com            │ Female  │ Shaxi            │
│     2 │ Katherina  │ Cockshoot │ kcockshoot1@exblog.jp          │ Female  │ Oslo             │
│     5 │ Pauletta   │ Weymont   │ pweymont4@gizmodo.com          │ Female  │ Alvesta          │
│     7 │ Gwenette   │ Harbert   │ gharbert6@goo.ne.jp            │ Female  │ Dazhigu          │
│    11 │ Millicent  │ Dikels    │ mdikelsa@yellowbook.com        │ Female  │ Ganhe            │
│    16 │ Ginnie     │ Anney     │ ganneyf@plala.or.jp            │ Female  │ Kota Bharu       │
│    17 │ Leslie     │ Mewrcik   │ lmewrcikg@amazon.co.uk         │ Female  │ Diré             │
│    18 │ Noel       │ Sadler    │ nsadlerh@howstuffworks.com     │ Female  │ Heshang          │
│    20 │ Yoshiko    │ Streak    │ ystreakj@mail.ru               │ Female  │ Kuching          │
│    21 │ Terrijo    │ Gostage   │ tgostagek@icq.com              │ Female  │ Burnham          │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│   972 │ Corena     │ Mundee    │ cmundeeqz@pagesperso-orange.fr │ Female  │ Kuala Terengganu │
│   975 │ Mignon     │ Tyt       │ mtytr2@usa.gov                 │ Female  │ Moulins          │
│   979 │ Cami       │ covino    │ ccovinor6@census.gov           │ Female  │ Nusaherang       │
│   980 │ Joana      │ Denzey    │ jdenzeyr7@google.de            │ Female  │ Dingshu          │
│   986 │ Lorie      │ Boick     │ lboickrd@altervista.org        │ Female  │ Huaiya           │
│   988 │ Ulrike     │ Pleavin   │ upleavinrf@vkontakte.ru        │ Female  │ Baipu            │
│   989 │ Bettine    │ Dachey    │ bdacheyrg@tripadvisor.com      │ Female  │ Filabusi         │
│   992 │ Erica      │ Hatch     │ ehatchrj@ning.com              │ Female  │ Terek            │
│   998 │ Ingaberg   │ Sterling  │ isterlingrp@nih.gov            │ Female  │ Kissimmee        │
│   999 │ Alexis     │ Tart      │ atartrq@whitehouse.gov         │ Female  │ Maonon           │
├───────┴────────────┴───────────┴────────────────────────────────┴─────────┴──────────────────┤
│ 447 rows (20 shown)                                                                6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────┘

In [18]:
con.sql("SELECT city, gender FROM test3 group by gender")

BinderException: Binder Error: column "city" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(city)" if the exact value of "city" is not important.

In [19]:
con.sql("SELECT city, gender FROM test3 group by gender,city")

┌─────────────────────┬─────────────┐
│        city         │   gender    │
│       varchar       │   varchar   │
├─────────────────────┼─────────────┤
│ Jarigue             │ Male        │
│ Kuching             │ Female      │
│ Lindesberg          │ Male        │
│ Sande São Martinho  │ Female      │
│ Tymoshivka          │ Female      │
│ Chengkan            │ Male        │
│ Buena Vista         │ Female      │
│ Tianfen             │ Male        │
│ Ribeira Seca        │ Male        │
│ Burunday            │ Male        │
│    ·                │  ·          │
│    ·                │  ·          │
│    ·                │  ·          │
│ Foros de Salvaterra │ Male        │
│ Durazno             │ Female      │
│ Kudusan             │ Male        │
│ Helsingborg         │ Male        │
│ Mets Parni          │ Female      │
│ Tân Phú             │ Genderfluid │
│ Balingasag          │ Female      │
│ Al Mazra‘ah         │ Male        │
│ Sulop               │ Male        │
│ La Virginia         │ Non-binary  │
├─────────────────────┴─────────────┤
│ 990 rows (20 shown)     2 columns │
└───────────────────────────────────┘

In [20]:
con.sql("SELECT count(*), city, gender FROM test3 group by city,gender")

┌──────────────┬─────────────────────────┬─────────────┐
│ count_star() │          city           │   gender    │
│    int64     │         varchar         │   varchar   │
├──────────────┼─────────────────────────┼─────────────┤
│            1 │ Liangdang Chengguanzhen │ Male        │
│            1 │ Iriga City              │ Male        │
│            1 │ Portland                │ Male        │
│            1 │ Itapicuru               │ Male        │
│            1 │ Agriá                   │ Male        │
│            1 │ Kota Bharu              │ Female      │
│            1 │ Diré                    │ Female      │
│            1 │ Nedakonice              │ Male        │
│            2 │ Prado                   │ Female      │
│            1 │ Sepulu                  │ Male        │
│            · │   ·                     │  ·          │
│            · │   ·                     │  ·          │
│            · │   ·                     │  ·          │
│            1 │ Pingdu                  │ Female      │
│            1 │ Barili                  │ Male        │
│            1 │ Sukamulya               │ Female      │
│            1 │ Yangchengzhuang         │ Male        │
│            1 │ Jinzao                  │ Male        │
│            1 │ Chrysó                  │ Male        │
│            1 │ Guzhuyingzi             │ Genderfluid │
│            1 │ Filabusi                │ Female      │
│            1 │ Klatovy                 │ Male        │
│            1 │ Kissimmee               │ Female      │
├──────────────┴─────────────────────────┴─────────────┤
│ 990 rows (20 shown)                        3 columns │
└──────────────────────────────────────────────────────┘

In [21]:
con.sql("SELECT * from test3 where city='Fort Beaufort'")

┌───────┬────────────┬───────────┬──────────────────────────────┬─────────┬───────────────┐
│  id   │ first_name │ last_name │            email             │ gender  │     city      │
│ int64 │  varchar   │  varchar  │           varchar            │ varchar │    varchar    │
├───────┼────────────┼───────────┼──────────────────────────────┼─────────┼───────────────┤
│    46 │ Amargo     │ Fishwick  │ afishwick19@berkeley.edu     │ Female  │ Fort Beaufort │
│   683 │ Nannie     │ Grigorian │ ngrigorianiy@tripadvisor.com │ Female  │ Fort Beaufort │
└───────┴────────────┴───────────┴──────────────────────────────┴─────────┴───────────────┘

In [22]:
con.sql("SELECT count(*), gender FROM test3 group by gender")

┌──────────────┬─────────────┐
│ count_star() │   gender    │
│    int64     │   varchar   │
├──────────────┼─────────────┤
│           18 │ Bigender    │
│          450 │ Male        │
│           18 │ Agender     │
│           20 │ Genderqueer │
│           15 │ Polygender  │
│           17 │ Non-binary  │
│           15 │ Genderfluid │
│          447 │ Female      │
└──────────────┴─────────────┘

In [23]:
con.sql("Select * from test3 where gender='Bigender'")

┌───────┬────────────┬───────────┬──────────────────────────────────┬──────────┬──────────────────┐
│  id   │ first_name │ last_name │              email               │  gender  │       city       │
│ int64 │  varchar   │  varchar  │             varchar              │ varchar  │     varchar      │
├───────┼────────────┼───────────┼──────────────────────────────────┼──────────┼──────────────────┤
│    55 │ Maurits    │ Keoghan   │ mkeoghan1i@cisco.com             │ Bigender │ Xi’an            │
│   198 │ Wayland    │ Abbs      │ wabbs5h@umn.edu                  │ Bigender │ Calape           │
│   285 │ Tammie     │ Rodwell   │ trodwell7w@time.com              │ Bigender │ Zapatero         │
│   298 │ Koo        │ Golly     │ kgolly89@people.com.cn           │ Bigender │ Serednye Vodyane │
│   312 │ Saunderson │ Stanesby  │ sstanesby8n@feedburner.com       │ Bigender │ El Aguilar       │
│   346 │ Tuck       │ Marques   │ tmarques9l@usnews.com            │ Bigender │ Świdnica         │
│   427 │ Denney     │ Aumerle   │ daumerlebu@bbb.org               │ Bigender │ Farkhor          │
│   434 │ Estella    │ Jendrys   │ ejendrysc1@digg.com              │ Bigender │ Surat Thani      │
│   549 │ Miran      │ Hargraves │ mhargravesf8@acquirethisname.com │ Bigender │ Liloan           │
│   571 │ Mitch      │ Gurys     │ mgurysfu@techcrunch.com          │ Bigender │ Muang Xay        │
│   573 │ Orren      │ Methuen   │ omethuenfw@who.int               │ Bigender │ Dasht-e Archī    │
│   576 │ Demott     │ Sayles    │ dsaylesfz@sitemeter.com          │ Bigender │ Op               │
│   732 │ Demetrius  │ Greg      │ dgregkb@hhs.gov                  │ Bigender │ Baki             │
│   744 │ Tally      │ Blamphin  │ tblamphinkn@sphinn.com           │ Bigender │ Maliiha          │
│   779 │ Peri       │ Henker    │ phenkerlm@pbs.org                │ Bigender │ Paris 18         │
│   825 │ Keenan     │ Wong      │ kwongmw@sogou.com                │ Bigender │ Zhichanghe       │
│   844 │ Jill       │ Stalman   │ jstalmannf@yolasite.com          │ Bigender │ Rancasadang      │
│   934 │ Sean       │ Piell     │ spiellpx@github.com              │ Bigender │ Rudnichnyy       │
├───────┴────────────┴───────────┴──────────────────────────────────┴──────────┴──────────────────┤
│ 18 rows                                                                               6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [24]:
con.sql("select count(*), gender, city from test3 group by gender,city")

┌──────────────┬────────────┬─────────────────────────┐
│ count_star() │   gender   │          city           │
│    int64     │  varchar   │         varchar         │
├──────────────┼────────────┼─────────────────────────┤
│            1 │ Male       │ Liangdang Chengguanzhen │
│            1 │ Female     │ Antioquia               │
│            1 │ Female     │ Si’en                   │
│            1 │ Male       │ Fushan                  │
│            1 │ Bigender   │ Xi’an                   │
│            1 │ Female     │ Vân Đình                │
│            1 │ Female     │ Mpraeso                 │
│            1 │ Female     │ Cola                    │
│            1 │ Male       │ Katunayaka              │
│            1 │ Male       │ Huangsha                │
│            · │  ·         │   ·                     │
│            · │  ·         │   ·                     │
│            · │  ·         │   ·                     │
│            1 │ Male       │ Najin                   │
│            1 │ Male       │ Ágio Pnévma             │
│            1 │ Female     │ Masindi Port            │
│            1 │ Female     │ Wushan                  │
│            1 │ Male       │ Xiangshui               │
│            1 │ Male       │ Shilaoren               │
│            1 │ Female     │ Balakhta                │
│            1 │ Female     │ Terek                   │
│            1 │ Agender    │ Chuzhou                 │
│            1 │ Polygender │ Bīrganj                 │
├──────────────┴────────────┴─────────────────────────┤
│ 990 rows (20 shown)                       3 columns │
└─────────────────────────────────────────────────────┘

In [25]:
con.sql("select count(*), gender, city from test3 group by gender,city having city>1")

BinderException: Binder Error: Cannot compare values of type VARCHAR and type INTEGER_LITERAL - an explicit cast is required

In [26]:
con.sql("select count(*), gender, city from test3 group by gender,city having count(city)>1")

┌──────────────┬─────────┬───────────────┐
│ count_star() │ gender  │     city      │
│    int64     │ varchar │    varchar    │
├──────────────┼─────────┼───────────────┤
│            2 │ Female  │ Oslo          │
│            2 │ Male    │ Independencia │
│            2 │ Female  │ Prado         │
│            2 │ Male    │ Xigangzi      │
│            2 │ Male    │ Dawang        │
│            2 │ Male    │ Limoges       │
│            2 │ Female  │ Fort Beaufort │
│            2 │ Male    │ Keli          │
│            2 │ Male    │ Nanmu         │
│            2 │ Male    │ Jönköping     │
├──────────────┴─────────┴───────────────┤
│ 10 rows                      3 columns │
└────────────────────────────────────────┘

In [27]:
duckdb.sql("SELECT * from r'./C:\Users\rohit\Desktop\MKT\Index\MW-All-Indices-27-Sep-2024.csv'")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 20-21: truncated \UXXXXXXXX escape (2726959187.py, line 1)

In [28]:
duckdb.sql("SELECT * from r'../C:\Users\rohit\Desktop\MKT\Index\MW-All-Indices-27-Sep-2024.csv'")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 21-22: truncated \UXXXXXXXX escape (4091594043.py, line 1)

In [29]:
duckdb.sql("SELECT * from r'./C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv'")

ParserException: Parser Error: syntax error at or near "'./C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv'"

In [33]:
=duckdb.sql("SELECT * from 'C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv'")

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                        "INDEX                                                        │
│                                                       varchar                                                        │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ ","CURRENT                                                                                                           │
│ ","%CHNG                                                                                                             │
│ ","OPEN                                                                                                              │
│ ","HIGH                                                                                                              │
│ ","LOW                                                                                                               │
│ ","INDICATIVE CLOSE                                                                                                  │
│ ","PREV. CLOSE                                                                                                       │
│ ","PREV. DAY                                                                                                         │
│  25-Sep-2024","1W AGO                                                                                                │
│  20-Sep-2024","1M AGO                                                                                                │
│           ·                                                                                                          │
│           ·                                                                                                          │
│           ·                                                                                                          │
│ "NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP 25% CAP","18,719.40","0.71","18,705.55","18,764.95","18,652.25","-…  │
│ "NIFTY500 MULTICAP INDIA MANUFACTURING 50:30:20","16,203.10","0.71","16,114.75","16,203.85","16,107.95","-","16,08…  │
│ "NIFTY500 MULTICAP INFRASTRUCTURE 50:30:20","15,124.75","0.15","15,089.90","15,131.10","15,031.85","-","15,101.90"…  │
│ "NIFTY 8-13 YR G-SEC","2,730.95","-0.05","2,732.90","2,732.90","2,730.40","-","2,732.39","2,726.35","2,720.65","2,…  │
│ "NIFTY 10 YR BENCHMARK G-SEC","2,416.07","-0.05","2,417.93","2,417.93","2,415.56","-","2,417.48","2,412.61","2,407…  │
│ "NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE)","894.77","-0.07","895.48","895.48","894.57","-","895.48","893.79","892…  │
│ "NIFTY 4-8 YR G-SEC INDEX","2,945.13","0.06","2,943.88","2,945.84","2,943.88","-","2,943.32","2,939.73","2,935.69"…  │
│ "NIFTY 11-15 YR G-SEC INDEX","3,033.53","-0.03","3,035.25","3,035.25","3,033.19","-","3,034.68","3,025.06","3,018.…  │
│ "NIFTY 15 YR AND ABOVE G-SEC INDEX","3,374.73","-0.13","3,380.04","3,380.04","3,374.42","-","3,379.41","3,365.91",…  │
│ "NIFTY COMPOSITE G-SEC INDEX","2,830.61","-0.06","2,833.04","2,833.04","2,830.46","-","2,832.51","2,825.64","2,818…  │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                  93 rows (20 shown)                                                  │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [34]:
nse_data=duckdb.sql("SELECT * from 'C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv'")

In [35]:
duckdb.sql("Select * from nse_data")

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                        "INDEX                                                        │
│                                                       varchar                                                        │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ ","CURRENT                                                                                                           │
│ ","%CHNG                                                                                                             │
│ ","OPEN                                                                                                              │
│ ","HIGH                                                                                                              │
│ ","LOW                                                                                                               │
│ ","INDICATIVE CLOSE                                                                                                  │
│ ","PREV. CLOSE                                                                                                       │
│ ","PREV. DAY                                                                                                         │
│  25-Sep-2024","1W AGO                                                                                                │
│  20-Sep-2024","1M AGO                                                                                                │
│           ·                                                                                                          │
│           ·                                                                                                          │
│           ·                                                                                                          │
│ "NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP 25% CAP","18,719.40","0.71","18,705.55","18,764.95","18,652.25","-…  │
│ "NIFTY500 MULTICAP INDIA MANUFACTURING 50:30:20","16,203.10","0.71","16,114.75","16,203.85","16,107.95","-","16,08…  │
│ "NIFTY500 MULTICAP INFRASTRUCTURE 50:30:20","15,124.75","0.15","15,089.90","15,131.10","15,031.85","-","15,101.90"…  │
│ "NIFTY 8-13 YR G-SEC","2,730.95","-0.05","2,732.90","2,732.90","2,730.40","-","2,732.39","2,726.35","2,720.65","2,…  │
│ "NIFTY 10 YR BENCHMARK G-SEC","2,416.07","-0.05","2,417.93","2,417.93","2,415.56","-","2,417.48","2,412.61","2,407…  │
│ "NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE)","894.77","-0.07","895.48","895.48","894.57","-","895.48","893.79","892…  │
│ "NIFTY 4-8 YR G-SEC INDEX","2,945.13","0.06","2,943.88","2,945.84","2,943.88","-","2,943.32","2,939.73","2,935.69"…  │
│ "NIFTY 11-15 YR G-SEC INDEX","3,033.53","-0.03","3,035.25","3,035.25","3,033.19","-","3,034.68","3,025.06","3,018.…  │
│ "NIFTY 15 YR AND ABOVE G-SEC INDEX","3,374.73","-0.13","3,380.04","3,380.04","3,374.42","-","3,379.41","3,365.91",…  │
│ "NIFTY COMPOSITE G-SEC INDEX","2,830.61","-0.06","2,833.04","2,833.04","2,830.46","-","2,832.51","2,825.64","2,818…  │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                  93 rows (20 shown)                                                  │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [36]:
duckdb.sql("Select current from nse_data")

BinderException: Binder Error: Referenced column "current" not found in FROM clause!
Candidate bindings: "nse_data."INDEX"

In [37]:
con.sql("CREATE TABLE nse as select * from nse_data")

InvalidInputException: Invalid Input Error: Python Object "nse_data" of type "DuckDBPyRelation" not suitable for replacement scan.
The object was created by another Connection and can therefore not be used by this Connection.

In [38]:
con.sql("CREATE TABLE nse as select * from 'C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv'")

In [39]:
con.sql("Select * from nse")

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                        "INDEX                                                        │
│                                                       varchar                                                        │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ ","CURRENT                                                                                                           │
│ ","%CHNG                                                                                                             │
│ ","OPEN                                                                                                              │
│ ","HIGH                                                                                                              │
│ ","LOW                                                                                                               │
│ ","INDICATIVE CLOSE                                                                                                  │
│ ","PREV. CLOSE                                                                                                       │
│ ","PREV. DAY                                                                                                         │
│  25-Sep-2024","1W AGO                                                                                                │
│  20-Sep-2024","1M AGO                                                                                                │
│           ·                                                                                                          │
│           ·                                                                                                          │
│           ·                                                                                                          │
│ "NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP 25% CAP","18,719.40","0.71","18,705.55","18,764.95","18,652.25","-…  │
│ "NIFTY500 MULTICAP INDIA MANUFACTURING 50:30:20","16,203.10","0.71","16,114.75","16,203.85","16,107.95","-","16,08…  │
│ "NIFTY500 MULTICAP INFRASTRUCTURE 50:30:20","15,124.75","0.15","15,089.90","15,131.10","15,031.85","-","15,101.90"…  │
│ "NIFTY 8-13 YR G-SEC","2,730.95","-0.05","2,732.90","2,732.90","2,730.40","-","2,732.39","2,726.35","2,720.65","2,…  │
│ "NIFTY 10 YR BENCHMARK G-SEC","2,416.07","-0.05","2,417.93","2,417.93","2,415.56","-","2,417.48","2,412.61","2,407…  │
│ "NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE)","894.77","-0.07","895.48","895.48","894.57","-","895.48","893.79","892…  │
│ "NIFTY 4-8 YR G-SEC INDEX","2,945.13","0.06","2,943.88","2,945.84","2,943.88","-","2,943.32","2,939.73","2,935.69"…  │
│ "NIFTY 11-15 YR G-SEC INDEX","3,033.53","-0.03","3,035.25","3,035.25","3,033.19","-","3,034.68","3,025.06","3,018.…  │
│ "NIFTY 15 YR AND ABOVE G-SEC INDEX","3,374.73","-0.13","3,380.04","3,380.04","3,374.42","-","3,379.41","3,365.91",…  │
│ "NIFTY COMPOSITE G-SEC INDEX","2,830.61","-0.06","2,833.04","2,833.04","2,830.46","-","2,832.51","2,825.64","2,818…  │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                  93 rows (20 shown)                                                  │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [40]:
nse_data_df = pd.read_csv("C:/Users/rohit/Desktop/MKT/Index/MW-All-Indices-27-Sep-2024.csv")

In [41]:
nse_data_df.head()

,INDEX \n,CURRENT \n,%CHNG \n,OPEN \n,HIGH \n,LOW \n,INDICATIVE CLOSE \n,PREV. CLOSE \n,PREV. DAY \n 25-Sep-2024,1W AGO \n 20-Sep-2024,1M AGO \n 27-Aug-2024,1Y AGO \n 27-Sep-2023,52W H \n,52W L \n,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78

In [42]:
con.sql("CREATE TABLE nse2 as select * from nse_data_df")

In [43]:
con.sql("Select * from nse2")

┌──────────────────────┬────────────┬──────────┬───┬───────────┬──────────────────────┬──────────────────────┐
│       INDEX \n       │ CURRENT \n │ %CHNG \n │ … │ 52W L \n  │ 365 D % CHNG \n 27…  │ 30 D % CHNG \n 27-…  │
│       varchar        │  varchar   │ varchar  │   │  varchar  │       varchar        │       varchar        │
├──────────────────────┼────────────┼──────────┼───┼───────────┼──────────────────────┼──────────────────────┤
│ NIFTY 50             │ 26,266.55  │ 0.19     │ … │ 18,837.85 │ 32.97                │ 4.79                 │
│ NIFTY NEXT 50        │ 77,623.85  │ 0.70     │ … │ 42,539.15 │ 70.46                │ 2.99                 │
│ NIFTY 100            │ 27,328.65  │ 0.27     │ … │ 18,743.30 │ 38.67                │ 4.50                 │
│ NIFTY 200            │ 14,829.10  │ 0.27     │ … │ 10,017.55 │ 40.19                │ 4.11                 │
│ NIFTY 500            │ 24,566.15  │ 0.28     │ … │ 16,466.25 │ 41.26                │ 3.78                 │
│ NIFTY MIDCAP 50      │ 17,050.70  │ 0.61     │ … │ 10,810.75 │ 45.41                │ 2.21                 │
│ NIFTY MIDCAP 100     │ 60,641.85  │ 0.29     │ … │ 37,655.85 │ 48.79                │ 2.11                 │
│ NIFTY SMALLCAP 100   │ 19,375.80  │ 0.59     │ … │ 12,048.75 │ 51.96                │ -0.37                │
│ INDIA VIX            │ 11.74      │ -2.22    │ … │ 8.40      │ 3.60                 │ -11.96               │
│ NIFTY MIDCAP 150     │ 22,425.30  │ 0.26     │ … │ 14,133.30 │ 47.56                │ 2.28                 │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│ NIFTY INDIA CORPOR…  │ 18,719.40  │ 0.71     │ … │ 9,887.45  │ -                    │ 1.40                 │
│ NIFTY500 MULTICAP …  │ 16,203.10  │ 0.71     │ … │ 8,394.35  │ -                    │ 2.72                 │
│ NIFTY500 MULTICAP …  │ 15,124.75  │ 0.15     │ … │ 8,010.10  │ -                    │ 2.21                 │
│ NIFTY 8-13 YR G-SEC  │ 2,730.95   │ -0.05    │ … │ -         │ 10.27                │ 1.58                 │
│ NIFTY 10 YR BENCHM…  │ 2,416.07   │ -0.05    │ … │ -         │ 10.17                │ 1.51                 │
│ NIFTY 10 YR BENCHM…  │ 894.77     │ -0.07    │ … │ -         │ 2.82                 │ 0.99                 │
│ NIFTY 4-8 YR G-SEC…  │ 2,945.13   │ 0.06     │ … │ -         │ 9.52                 │ 1.12                 │
│ NIFTY 11-15 YR G-S…  │ 3,033.53   │ -0.03    │ … │ -         │ 11.77                │ 1.74                 │
│ NIFTY 15 YR AND AB…  │ 3,374.73   │ -0.13    │ … │ -         │ 13.73                │ 2.20                 │
│ NIFTY COMPOSITE G-…  │ 2,830.61   │ -0.06    │ … │ -         │ 10.87                │ 1.63                 │
├──────────────────────┴────────────┴──────────┴───┴───────────┴──────────────────────┴──────────────────────┤
│ 77 rows (20 shown)                                                                    16 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [44]:
con.sql("select index from nse2")

BinderException: Binder Error: Referenced column "index" not found in FROM clause!
Candidate bindings: "nse2.INDEX
"

In [45]:
con.sql("Select INDEX from nse2")

BinderException: Binder Error: Referenced column "INDEX" not found in FROM clause!
Candidate bindings: "nse2.INDEX
"

In [46]:
con.sql("Select * from nse2")

┌──────────────────────┬────────────┬──────────┬───┬───────────┬──────────────────────┬──────────────────────┐
│       INDEX \n       │ CURRENT \n │ %CHNG \n │ … │ 52W L \n  │ 365 D % CHNG \n 27…  │ 30 D % CHNG \n 27-…  │
│       varchar        │  varchar   │ varchar  │   │  varchar  │       varchar        │       varchar        │
├──────────────────────┼────────────┼──────────┼───┼───────────┼──────────────────────┼──────────────────────┤
│ NIFTY 50             │ 26,266.55  │ 0.19     │ … │ 18,837.85 │ 32.97                │ 4.79                 │
│ NIFTY NEXT 50        │ 77,623.85  │ 0.70     │ … │ 42,539.15 │ 70.46                │ 2.99                 │
│ NIFTY 100            │ 27,328.65  │ 0.27     │ … │ 18,743.30 │ 38.67                │ 4.50                 │
│ NIFTY 200            │ 14,829.10  │ 0.27     │ … │ 10,017.55 │ 40.19                │ 4.11                 │
│ NIFTY 500            │ 24,566.15  │ 0.28     │ … │ 16,466.25 │ 41.26                │ 3.78                 │
│ NIFTY MIDCAP 50      │ 17,050.70  │ 0.61     │ … │ 10,810.75 │ 45.41                │ 2.21                 │
│ NIFTY MIDCAP 100     │ 60,641.85  │ 0.29     │ … │ 37,655.85 │ 48.79                │ 2.11                 │
│ NIFTY SMALLCAP 100   │ 19,375.80  │ 0.59     │ … │ 12,048.75 │ 51.96                │ -0.37                │
│ INDIA VIX            │ 11.74      │ -2.22    │ … │ 8.40      │ 3.60                 │ -11.96               │
│ NIFTY MIDCAP 150     │ 22,425.30  │ 0.26     │ … │ 14,133.30 │ 47.56                │ 2.28                 │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│ NIFTY INDIA CORPOR…  │ 18,719.40  │ 0.71     │ … │ 9,887.45  │ -                    │ 1.40                 │
│ NIFTY500 MULTICAP …  │ 16,203.10  │ 0.71     │ … │ 8,394.35  │ -                    │ 2.72                 │
│ NIFTY500 MULTICAP …  │ 15,124.75  │ 0.15     │ … │ 8,010.10  │ -                    │ 2.21                 │
│ NIFTY 8-13 YR G-SEC  │ 2,730.95   │ -0.05    │ … │ -         │ 10.27                │ 1.58                 │
│ NIFTY 10 YR BENCHM…  │ 2,416.07   │ -0.05    │ … │ -         │ 10.17                │ 1.51                 │
│ NIFTY 10 YR BENCHM…  │ 894.77     │ -0.07    │ … │ -         │ 2.82                 │ 0.99                 │
│ NIFTY 4-8 YR G-SEC…  │ 2,945.13   │ 0.06     │ … │ -         │ 9.52                 │ 1.12                 │
│ NIFTY 11-15 YR G-S…  │ 3,033.53   │ -0.03    │ … │ -         │ 11.77                │ 1.74                 │
│ NIFTY 15 YR AND AB…  │ 3,374.73   │ -0.13    │ … │ -         │ 13.73                │ 2.20                 │
│ NIFTY COMPOSITE G-…  │ 2,830.61   │ -0.06    │ … │ -         │ 10.87                │ 1.63                 │
├──────────────────────┴────────────┴──────────┴───┴───────────┴──────────────────────┴──────────────────────┤
│ 77 rows (20 shown)                                                                    16 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [47]:
con.sql("select * from test2")

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
└───────┴─────────┴─────────┘

In [48]:
con.sql("select * from test3")

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [49]:
con.sql("SELECT * FROM nse2")

┌──────────────────────┬────────────┬──────────┬───┬───────────┬──────────────────────┬──────────────────────┐
│       INDEX \n       │ CURRENT \n │ %CHNG \n │ … │ 52W L \n  │ 365 D % CHNG \n 27…  │ 30 D % CHNG \n 27-…  │
│       varchar        │  varchar   │ varchar  │   │  varchar  │       varchar        │       varchar        │
├──────────────────────┼────────────┼──────────┼───┼───────────┼──────────────────────┼──────────────────────┤
│ NIFTY 50             │ 26,266.55  │ 0.19     │ … │ 18,837.85 │ 32.97                │ 4.79                 │
│ NIFTY NEXT 50        │ 77,623.85  │ 0.70     │ … │ 42,539.15 │ 70.46                │ 2.99                 │
│ NIFTY 100            │ 27,328.65  │ 0.27     │ … │ 18,743.30 │ 38.67                │ 4.50                 │
│ NIFTY 200            │ 14,829.10  │ 0.27     │ … │ 10,017.55 │ 40.19                │ 4.11                 │
│ NIFTY 500            │ 24,566.15  │ 0.28     │ … │ 16,466.25 │ 41.26                │ 3.78                 │
│ NIFTY MIDCAP 50      │ 17,050.70  │ 0.61     │ … │ 10,810.75 │ 45.41                │ 2.21                 │
│ NIFTY MIDCAP 100     │ 60,641.85  │ 0.29     │ … │ 37,655.85 │ 48.79                │ 2.11                 │
│ NIFTY SMALLCAP 100   │ 19,375.80  │ 0.59     │ … │ 12,048.75 │ 51.96                │ -0.37                │
│ INDIA VIX            │ 11.74      │ -2.22    │ … │ 8.40      │ 3.60                 │ -11.96               │
│ NIFTY MIDCAP 150     │ 22,425.30  │ 0.26     │ … │ 14,133.30 │ 47.56                │ 2.28                 │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│        ·             │     ·      │  ·       │ · │    ·      │ ·                    │  ·                   │
│ NIFTY INDIA CORPOR…  │ 18,719.40  │ 0.71     │ … │ 9,887.45  │ -                    │ 1.40                 │
│ NIFTY500 MULTICAP …  │ 16,203.10  │ 0.71     │ … │ 8,394.35  │ -                    │ 2.72                 │
│ NIFTY500 MULTICAP …  │ 15,124.75  │ 0.15     │ … │ 8,010.10  │ -                    │ 2.21                 │
│ NIFTY 8-13 YR G-SEC  │ 2,730.95   │ -0.05    │ … │ -         │ 10.27                │ 1.58                 │
│ NIFTY 10 YR BENCHM…  │ 2,416.07   │ -0.05    │ … │ -         │ 10.17                │ 1.51                 │
│ NIFTY 10 YR BENCHM…  │ 894.77     │ -0.07    │ … │ -         │ 2.82                 │ 0.99                 │
│ NIFTY 4-8 YR G-SEC…  │ 2,945.13   │ 0.06     │ … │ -         │ 9.52                 │ 1.12                 │
│ NIFTY 11-15 YR G-S…  │ 3,033.53   │ -0.03    │ … │ -         │ 11.77                │ 1.74                 │
│ NIFTY 15 YR AND AB…  │ 3,374.73   │ -0.13    │ … │ -         │ 13.73                │ 2.20                 │
│ NIFTY COMPOSITE G-…  │ 2,830.61   │ -0.06    │ … │ -         │ 10.87                │ 1.63                 │
├──────────────────────┴────────────┴──────────┴───┴───────────┴──────────────────────┴──────────────────────┤
│ 77 rows (20 shown)                                                                    16 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [50]:
con.sql("SELECT INDEX \n from nse2")

BinderException: Binder Error: Referenced column "INDEX" not found in FROM clause!
Candidate bindings: "nse2.INDEX
"

In [51]:
con.sql("DROP TABLE nse2")

In [52]:
con.sql("SELECT * FROM nse2")

CatalogException: Catalog Error: Table with name nse2 does not exist!
Did you mean "nse"?

In [53]:
con.sql("select * from nse")

┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                        "INDEX                                                        │
│                                                       varchar                                                        │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ ","CURRENT                                                                                                           │
│ ","%CHNG                                                                                                             │
│ ","OPEN                                                                                                              │
│ ","HIGH                                                                                                              │
│ ","LOW                                                                                                               │
│ ","INDICATIVE CLOSE                                                                                                  │
│ ","PREV. CLOSE                                                                                                       │
│ ","PREV. DAY                                                                                                         │
│  25-Sep-2024","1W AGO                                                                                                │
│  20-Sep-2024","1M AGO                                                                                                │
│           ·                                                                                                          │
│           ·                                                                                                          │
│           ·                                                                                                          │
│ "NIFTY INDIA CORPORATE GROUP INDEX - TATA GROUP 25% CAP","18,719.40","0.71","18,705.55","18,764.95","18,652.25","-…  │
│ "NIFTY500 MULTICAP INDIA MANUFACTURING 50:30:20","16,203.10","0.71","16,114.75","16,203.85","16,107.95","-","16,08…  │
│ "NIFTY500 MULTICAP INFRASTRUCTURE 50:30:20","15,124.75","0.15","15,089.90","15,131.10","15,031.85","-","15,101.90"…  │
│ "NIFTY 8-13 YR G-SEC","2,730.95","-0.05","2,732.90","2,732.90","2,730.40","-","2,732.39","2,726.35","2,720.65","2,…  │
│ "NIFTY 10 YR BENCHMARK G-SEC","2,416.07","-0.05","2,417.93","2,417.93","2,415.56","-","2,417.48","2,412.61","2,407…  │
│ "NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE)","894.77","-0.07","895.48","895.48","894.57","-","895.48","893.79","892…  │
│ "NIFTY 4-8 YR G-SEC INDEX","2,945.13","0.06","2,943.88","2,945.84","2,943.88","-","2,943.32","2,939.73","2,935.69"…  │
│ "NIFTY 11-15 YR G-SEC INDEX","3,033.53","-0.03","3,035.25","3,035.25","3,033.19","-","3,034.68","3,025.06","3,018.…  │
│ "NIFTY 15 YR AND ABOVE G-SEC INDEX","3,374.73","-0.13","3,380.04","3,380.04","3,374.42","-","3,379.41","3,365.91",…  │
│ "NIFTY COMPOSITE G-SEC INDEX","2,830.61","-0.06","2,833.04","2,833.04","2,830.46","-","2,832.51","2,825.64","2,818…  │
├──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│                                                  93 rows (20 shown)                                                  │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [54]:
nse_data_df.head()

,INDEX \n,CURRENT \n,%CHNG \n,OPEN \n,HIGH \n,LOW \n,INDICATIVE CLOSE \n,PREV. CLOSE \n,PREV. DAY \n 25-Sep-2024,1W AGO \n 20-Sep-2024,1M AGO \n 27-Aug-2024,1Y AGO \n 27-Sep-2023,52W H \n,52W L \n,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78

In [55]:
nse_data_df.columns

Index(['INDEX \n', 'CURRENT \n', '%CHNG \n', 'OPEN \n', 'HIGH \n', 'LOW \n',
       'INDICATIVE CLOSE \n', 'PREV. CLOSE \n', 'PREV. DAY \n 25-Sep-2024',
       '1W AGO \n 20-Sep-2024', '1M AGO \n 27-Aug-2024',
       '1Y AGO \n 27-Sep-2023', '52W H \n', '52W L \n',
       '365 D % CHNG \n 27-Sep-2023', '30 D % CHNG \n 27-Aug-2024'],
      dtype='object')

In [56]:
# rename columns
nse_data_df.rename(columns={'INDEX \n':'index'})

,index,CURRENT \n,%CHNG \n,OPEN \n,HIGH \n,LOW \n,INDICATIVE CLOSE \n,PREV. CLOSE \n,PREV. DAY \n 25-Sep-2024,1W AGO \n 20-Sep-2024,1M AGO \n 27-Aug-2024,1Y AGO \n 27-Sep-2023,52W H \n,52W L \n,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),894.77,-0.07,895.48,895.48,894.57,-,895.48,893.79,892.81,886.85,871.05,-,-,2.82,0.99
73,NIFTY 4-8 YR G-SEC INDEX,"2,945.13",0.06,"2,943.88","2,945.84","2,943.88",-,"2,943.32","2,939.73","2,935.69","2,910.63","2,687.41",-,-,9.52,1.12
74,NIFTY 11-15 YR G-SEC INDEX,"3,033.53",-0.03,"3,035.25","3,035.25","3,033.19",-,"3,034.68","3,025.06","3,018.26","2,983.13","2,715.47",-,-,11.77,1.74
75,NIFTY 15 YR AND ABOVE G-SEC INDEX,"3,374.73",-0.13,"3,380.04","3,380.04","3,374.42",-,"3,379.41","3,365.91","3,348.25","3,306.96","2,971.69",-,-,13.73,2.20
76,NIFTY COMPOSITE G-SEC INDEX,"2,830.61",-0.06,"2,833.04","2,833.04","2,830.46",-,"2,832.51","2,825.64","2,818.48","2,787.46","2,555.23",-,-,10.87,1.63

In [57]:
nse_data_df

,INDEX \n,CURRENT \n,%CHNG \n,OPEN \n,HIGH \n,LOW \n,INDICATIVE CLOSE \n,PREV. CLOSE \n,PREV. DAY \n 25-Sep-2024,1W AGO \n 20-Sep-2024,1M AGO \n 27-Aug-2024,1Y AGO \n 27-Sep-2023,52W H \n,52W L \n,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),894.77,-0.07,895.48,895.48,894.57,-,895.48,893.79,892.81,886.85,871.05,-,-,2.82,0.99
73,NIFTY 4-8 YR G-SEC INDEX,"2,945.13",0.06,"2,943.88","2,945.84","2,943.88",-,"2,943.32","2,939.73","2,935.69","2,910.63","2,687.41",-,-,9.52,1.12
74,NIFTY 11-15 YR G-SEC INDEX,"3,033.53",-0.03,"3,035.25","3,035.25","3,033.19",-,"3,034.68","3,025.06","3,018.26","2,983.13","2,715.47",-,-,11.77,1.74
75,NIFTY 15 YR AND ABOVE G-SEC INDEX,"3,374.73",-0.13,"3,380.04","3,380.04","3,374.42",-,"3,379.41","3,365.91","3,348.25","3,306.96","2,971.69",-,-,13.73,2.20
76,NIFTY COMPOSITE G-SEC INDEX,"2,830.61",-0.06,"2,833.04","2,833.04","2,830.46",-,"2,832.51","2,825.64","2,818.48","2,787.46","2,555.23",-,-,10.87,1.63

In [58]:
nse_data_df.rename(columns={"INDEX \n":"index","CURRENT \n":"current", "%CHNG \n":"%chng" })

,index,current,%chng,OPEN \n,HIGH \n,LOW \n,INDICATIVE CLOSE \n,PREV. CLOSE \n,PREV. DAY \n 25-Sep-2024,1W AGO \n 20-Sep-2024,1M AGO \n 27-Aug-2024,1Y AGO \n 27-Sep-2023,52W H \n,52W L \n,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),894.77,-0.07,895.48,895.48,894.57,-,895.48,893.79,892.81,886.85,871.05,-,-,2.82,0.99
73,NIFTY 4-8 YR G-SEC INDEX,"2,945.13",0.06,"2,943.88","2,945.84","2,943.88",-,"2,943.32","2,939.73","2,935.69","2,910.63","2,687.41",-,-,9.52,1.12
74,NIFTY 11-15 YR G-SEC INDEX,"3,033.53",-0.03,"3,035.25","3,035.25","3,033.19",-,"3,034.68","3,025.06","3,018.26","2,983.13","2,715.47",-,-,11.77,1.74
75,NIFTY 15 YR AND ABOVE G-SEC INDEX,"3,374.73",-0.13,"3,380.04","3,380.04","3,374.42",-,"3,379.41","3,365.91","3,348.25","3,306.96","2,971.69",-,-,13.73,2.20
76,NIFTY COMPOSITE G-SEC INDEX,"2,830.61",-0.06,"2,833.04","2,833.04","2,830.46",-,"2,832.51","2,825.64","2,818.48","2,787.46","2,555.23",-,-,10.87,1.63

In [59]:
nse_data_df.rename(columns={"INDEX \n":"index","CURRENT \n":"current", "%CHNG \n":"%chng","OPEN \n":"open","HIGH \n":"high","LOW \n":"low","INDICATIVE \n":"indicative","PREV. CLOSE \n":"prev_close","PREV. DAY \n 25-Sep-2024":"prev_day_25_sep_24","1W AGO \n 25-Sep-2024":"1w_ago_20_sep_24","1M AGO \n 27-Aug-2024":"1m_ago_27_sep_24","1Y AGO \n 27-sep-2023":"1y_ago_27_sep_23","52W H \n":"52w_high","52W L \n":"52w_low","365 D %CHNG \n 27-Sep-2023":"365d_%chng_27_sep_23","30 D %CHNG \n 27-Aug-2024":"30d_%chng_27_aug_24"})

,index,current,%chng,open,high,low,INDICATIVE CLOSE \n,prev_close,prev_day_25_sep_24,1W AGO \n 20-Sep-2024,1m_ago_27_sep_24,1Y AGO \n 27-Sep-2023,52w_high,52w_low,365 D % CHNG \n 27-Sep-2023,30 D % CHNG \n 27-Aug-2024
0,NIFTY 50,"26,266.55",0.19,"26,248.25","26,277.35","26,208.90",-,"26,216.05","26,004.15","25,790.95","25,017.75","19,716.45","26,250.90","18,837.85",32.97,4.79
1,NIFTY NEXT 50,"77,623.85",0.70,"77,201.80","77,636.90","77,053.95",-,"77,086.95","76,517.40","75,481.85","74,848.95","45,222.60","77,143.70","42,539.15",70.46,2.99
2,NIFTY 100,"27,328.65",0.27,"27,283.25","27,335.65","27,244.70",-,"27,256.25","27,051.65","26,821.00","26,083.15","19,654.95","27,284.90","18,743.30",38.67,4.50
3,NIFTY 200,"14,829.10",0.27,"14,806.15","14,833.75","14,785.60",-,"14,789.35","14,696.00","14,580.90","14,206.00","10,549.85","14,799.90","10,017.55",40.19,4.11
4,NIFTY 500,"24,566.15",0.28,"24,529.55","24,573.40","24,497.40",-,"24,496.90","24,371.25","24,193.80","23,604.85","17,341.60","24,512.65","16,466.25",41.26,3.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),894.77,-0.07,895.48,895.48,894.57,-,895.48,893.79,892.81,886.85,871.05,-,-,2.82,0.99
73,NIFTY 4-8 YR G-SEC INDEX,"2,945.13",0.06,"2,943.88","2,945.84","2,943.88",-,"2,943.32","2,939.73","2,935.69","2,910.63","2,687.41",-,-,9.52,1.12
74,NIFTY 11-15 YR G-SEC INDEX,"3,033.53",-0.03,"3,035.25","3,035.25","3,033.19",-,"3,034.68","3,025.06","3,018.26","2,983.13","2,715.47",-,-,11.77,1.74
75,NIFTY 15 YR AND ABOVE G-SEC INDEX,"3,374.73",-0.13,"3,380.04","3,380.04","3,374.42",-,"3,379.41","3,365.91","3,348.25","3,306.96","2,971.69",-,-,13.73,2.20
76,NIFTY COMPOSITE G-SEC INDEX,"2,830.61",-0.06,"2,833.04","2,833.04","2,830.46",-,"2,832.51","2,825.64","2,818.48","2,787.46","2,555.23",-,-,10.87,1.63