In [1]:
import duckdb
import pandas as pd

In [2]:
con = duckdb.connect("./src/db/files.db")
con.sql("CREATE TABLE test (i INTEGER)")
con.sql("INSERT INTO test VALUES(42)")
con.table("test").show()
con.close()

CatalogException: Catalog Error: Table with name "test" already exists!

In [3]:
con.sql("CREATE TABLE test2 (i INTEGER, name varchar(100), dept varchar(250))")
con.sql("INSERT INTO test2 VALUES(1, 'rohit', 'IT')")
con.table("test2").show()
con.close()

CatalogException: Catalog Error: Table with name "test2" already exists!

In [4]:
con = duckdb.connect("./src/db/files.db")
con.sql("CREATE TABLE test2 (i INTEGER, name varchar(100), dept varchar(250))")
con.sql("INSERT INTO test2 VALUES(1, 'rohit', 'IT')")
con.table("test2").show()
con.close()

CatalogException: Catalog Error: Table with name "test2" already exists!

In [5]:
con=duckdb.connect("./src/db/files.db")
con.sql("INSERT INTO test2 VALUES(2, 'pammi', 'law')")
con.table('test2').show()
con.close()

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
└───────┴─────────┴─────────┘

In [6]:
con=duckdb.connect("./src/db/files.db")
con.sql("INSERT INTO test VALUES(43)")
con.table("test").show()
con.close()

┌───────┐
│   i   │
│ int32 │
├───────┤
│    42 │
│    43 │
│    43 │
└───────┘

In [7]:
con=duckdb.connect("./src/db/files.db")
con.sql("SELECT * from test2")

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
│     2 │ pammi   │ law     │
│     2 │ pammi   │ law     │
└───────┴─────────┴─────────┘

In [8]:
con.sql("SELECT * FROM test2 where dept='IT'")

┌───────┬─────────┬─────────┐
│   i   │  name   │  dept   │
│ int32 │ varchar │ varchar │
├───────┼─────────┼─────────┤
│     1 │ rohit   │ IT      │
└───────┴─────────┴─────────┘

In [9]:
duckdb.sql("SELECT * FROM './src/data/emp.csv'")

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
con.sql("CREATE TABLE test3 as SELECT * FROM './src/db/emp.csv'")
con.table("test3").show()

IOException: IO Error: No files found that match the pattern "./src/db/emp.csv"

In [11]:
con.sql("CREATE TABLE test3 as SELECT * FROM './src/data/emp.csv'")
con.table("test3").show()

CatalogException: Catalog Error: Table with name "test3" already exists!

In [12]:
con.table("test3").show()

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [13]:
con.sql("SELECT * FROM test3 WHERE first_name='corny'")

┌───────┬────────────┬───────────┬─────────┬─────────┬─────────┐
│  id   │ first_name │ last_name │  email  │ gender  │  city   │
│ int64 │  varchar   │  varchar  │ varchar │ varchar │ varchar │
├───────┴────────────┴───────────┴─────────┴─────────┴─────────┤
│                            0 rows                            │
└──────────────────────────────────────────────────────────────┘

In [14]:
con.sql("SELECT * FROM test3 WHERE first_name='Corny'")

┌───────┬────────────┬───────────┬─────────────────────┬─────────┬─────────┐
│  id   │ first_name │ last_name │        email        │ gender  │  city   │
│ int64 │  varchar   │  varchar  │       varchar       │ varchar │ varchar │
├───────┼────────────┼───────────┼─────────────────────┼─────────┼─────────┤
│     1 │ Corny      │ O'Rudden  │ corudden0@apple.com │ Female  │ Shaxi   │
└───────┴────────────┴───────────┴─────────────────────┴─────────┴─────────┘

In [15]:
con.sql("select * from test3")

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [16]:
con.sql("select * from test3 where gender='Female'")

┌───────┬────────────┬───────────┬────────────────────────────────┬─────────┬──────────────────┐
│  id   │ first_name │ last_name │             email              │ gender  │       city       │
│ int64 │  varchar   │  varchar  │            varchar             │ varchar │     varchar      │
├───────┼────────────┼───────────┼────────────────────────────────┼─────────┼──────────────────┤
│     1 │ Corny      │ O'Rudden  │ corudden0@apple.com            │ Female  │ Shaxi            │
│     2 │ Katherina  │ Cockshoot │ kcockshoot1@exblog.jp          │ Female  │ Oslo             │
│     5 │ Pauletta   │ Weymont   │ pweymont4@gizmodo.com          │ Female  │ Alvesta          │
│     7 │ Gwenette   │ Harbert   │ gharbert6@goo.ne.jp            │ Female  │ Dazhigu          │
│    11 │ Millicent  │ Dikels    │ mdikelsa@yellowbook.com        │ Female  │ Ganhe            │
│    16 │ Ginnie     │ Anney     │ ganneyf@plala.or.jp            │ Female  │ Kota Bharu       │
│    17 │ Leslie     │ Mewrcik   │ lmewrcikg@amazon.co.uk         │ Female  │ Diré             │
│    18 │ Noel       │ Sadler    │ nsadlerh@howstuffworks.com     │ Female  │ Heshang          │
│    20 │ Yoshiko    │ Streak    │ ystreakj@mail.ru               │ Female  │ Kuching          │
│    21 │ Terrijo    │ Gostage   │ tgostagek@icq.com              │ Female  │ Burnham          │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│     · │   ·        │   ·       │         ·                      │   ·     │    ·             │
│   972 │ Corena     │ Mundee    │ cmundeeqz@pagesperso-orange.fr │ Female  │ Kuala Terengganu │
│   975 │ Mignon     │ Tyt       │ mtytr2@usa.gov                 │ Female  │ Moulins          │
│   979 │ Cami       │ covino    │ ccovinor6@census.gov           │ Female  │ Nusaherang       │
│   980 │ Joana      │ Denzey    │ jdenzeyr7@google.de            │ Female  │ Dingshu          │
│   986 │ Lorie      │ Boick     │ lboickrd@altervista.org        │ Female  │ Huaiya           │
│   988 │ Ulrike     │ Pleavin   │ upleavinrf@vkontakte.ru        │ Female  │ Baipu            │
│   989 │ Bettine    │ Dachey    │ bdacheyrg@tripadvisor.com      │ Female  │ Filabusi         │
│   992 │ Erica      │ Hatch     │ ehatchrj@ning.com              │ Female  │ Terek            │
│   998 │ Ingaberg   │ Sterling  │ isterlingrp@nih.gov            │ Female  │ Kissimmee        │
│   999 │ Alexis     │ Tart      │ atartrq@whitehouse.gov         │ Female  │ Maonon           │
├───────┴────────────┴───────────┴────────────────────────────────┴─────────┴──────────────────┤
│ 447 rows (20 shown)                                                                6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
con.sql("SELECT city, gender FROM test3 group by gender")

BinderException: Binder Error: column "city" must appear in the GROUP BY clause or must be part of an aggregate function.
Either add it to the GROUP BY list, or use "ANY_VALUE(city)" if the exact value of "city" is not important.

In [18]:
con.sql("SELECT city, gender FROM test3 group by gender,city")

┌─────────────────────┬─────────┐
│        city         │ gender  │
│       varchar       │ varchar │
├─────────────────────┼─────────┤
│ Dazhigu             │ Female  │
│ Ganhe               │ Female  │
│ Kota Bharu          │ Female  │
│ Cherbourg-Octeville │ Male    │
│ Prado               │ Female  │
│ Limit               │ Female  │
│ Tran                │ Female  │
│ Nong Chik           │ Female  │
│ Sosnovyy Bor        │ Female  │
│ Jielong             │ Female  │
│    ·                │   ·     │
│    ·                │   ·     │
│    ·                │   ·     │
│ Billings            │ Female  │
│ Leonárisso          │ Agender │
│ Manaulanan          │ Female  │
│ Ilopango            │ Female  │
│ Cabangan            │ Male    │
│ Laohekou            │ Male    │
│ Moro                │ Male    │
│ Colonia Neuland     │ Male    │
│ Jinzao              │ Male    │
│ Baruunsuu           │ Male    │
├─────────────────────┴─────────┤
│      990 rows (20 shown)      │
└───────────────────────────────┘

In [19]:
con.sql("SELECT count(*), city, gender FROM test3 group by city,gender")

┌──────────────┬─────────────────────────┬─────────┐
│ count_star() │          city           │ gender  │
│    int64     │         varchar         │ varchar │
├──────────────┼─────────────────────────┼─────────┤
│            1 │ Liangdang Chengguanzhen │ Male    │
│            1 │ Iriga City              │ Male    │
│            1 │ Portland                │ Male    │
│            1 │ Itapicuru               │ Male    │
│            1 │ Agriá                   │ Male    │
│            1 │ Kota Bharu              │ Female  │
│            1 │ Diré                    │ Female  │
│            1 │ Nedakonice              │ Male    │
│            2 │ Prado                   │ Female  │
│            1 │ Sepulu                  │ Male    │
│            · │   ·                     │  ·      │
│            · │   ·                     │  ·      │
│            · │   ·                     │  ·      │
│            1 │ Pallasovka              │ Male    │
│            1 │ Jieduo                  │ Male    │
│            1 │ Kalino                  │ Female  │
│            1 │ Ōmura                   │ Female  │
│            1 │ Ágio Pnévma             │ Male    │
│            1 │ Moro                    │ Male    │
│            1 │ Balingasag              │ Female  │
│            1 │ Minante Segundo         │ Male    │
│            1 │ Sūq ar Rabū‘            │ Male    │
│            1 │ Huaiya                  │ Female  │
├──────────────┴─────────────────────────┴─────────┤
│ 990 rows (20 shown)                    3 columns │
└──────────────────────────────────────────────────┘

In [20]:
con.sql("SELECT * from test3 where city='Fort Beaufort'")

┌───────┬────────────┬───────────┬──────────────────────────────┬─────────┬───────────────┐
│  id   │ first_name │ last_name │            email             │ gender  │     city      │
│ int64 │  varchar   │  varchar  │           varchar            │ varchar │    varchar    │
├───────┼────────────┼───────────┼──────────────────────────────┼─────────┼───────────────┤
│    46 │ Amargo     │ Fishwick  │ afishwick19@berkeley.edu     │ Female  │ Fort Beaufort │
│   683 │ Nannie     │ Grigorian │ ngrigorianiy@tripadvisor.com │ Female  │ Fort Beaufort │
└───────┴────────────┴───────────┴──────────────────────────────┴─────────┴───────────────┘

In [21]:
con.sql("SELECT count(*), gender FROM test3 group by gender")

┌──────────────┬─────────────┐
│ count_star() │   gender    │
│    int64     │   varchar   │
├──────────────┼─────────────┤
│           18 │ Bigender    │
│          450 │ Male        │
│           18 │ Agender     │
│           20 │ Genderqueer │
│           15 │ Polygender  │
│           17 │ Non-binary  │
│          447 │ Female      │
│           15 │ Genderfluid │
└──────────────┴─────────────┘

In [22]:
con.sql("Select * from test3 where gender='Bigender'")

┌───────┬────────────┬───────────┬──────────────────────────────────┬──────────┬──────────────────┐
│  id   │ first_name │ last_name │              email               │  gender  │       city       │
│ int64 │  varchar   │  varchar  │             varchar              │ varchar  │     varchar      │
├───────┼────────────┼───────────┼──────────────────────────────────┼──────────┼──────────────────┤
│    55 │ Maurits    │ Keoghan   │ mkeoghan1i@cisco.com             │ Bigender │ Xi’an            │
│   198 │ Wayland    │ Abbs      │ wabbs5h@umn.edu                  │ Bigender │ Calape           │
│   285 │ Tammie     │ Rodwell   │ trodwell7w@time.com              │ Bigender │ Zapatero         │
│   298 │ Koo        │ Golly     │ kgolly89@people.com.cn           │ Bigender │ Serednye Vodyane │
│   312 │ Saunderson │ Stanesby  │ sstanesby8n@feedburner.com       │ Bigender │ El Aguilar       │
│   346 │ Tuck       │ Marques   │ tmarques9l@usnews.com            │ Bigender │ Świdnica         │
│   427 │ Denney     │ Aumerle   │ daumerlebu@bbb.org               │ Bigender │ Farkhor          │
│   434 │ Estella    │ Jendrys   │ ejendrysc1@digg.com              │ Bigender │ Surat Thani      │
│   549 │ Miran      │ Hargraves │ mhargravesf8@acquirethisname.com │ Bigender │ Liloan           │
│   571 │ Mitch      │ Gurys     │ mgurysfu@techcrunch.com          │ Bigender │ Muang Xay        │
│   573 │ Orren      │ Methuen   │ omethuenfw@who.int               │ Bigender │ Dasht-e Archī    │
│   576 │ Demott     │ Sayles    │ dsaylesfz@sitemeter.com          │ Bigender │ Op               │
│   732 │ Demetrius  │ Greg      │ dgregkb@hhs.gov                  │ Bigender │ Baki             │
│   744 │ Tally      │ Blamphin  │ tblamphinkn@sphinn.com           │ Bigender │ Maliiha          │
│   779 │ Peri       │ Henker    │ phenkerlm@pbs.org                │ Bigender │ Paris 18         │
│   825 │ Keenan     │ Wong      │ kwongmw@sogou.com                │ Bigender │ Zhichanghe       │
│   844 │ Jill       │ Stalman   │ jstalmannf@yolasite.com          │ Bigender │ Rancasadang      │
│   934 │ Sean       │ Piell     │ spiellpx@github.com              │ Bigender │ Rudnichnyy       │
├───────┴────────────┴───────────┴──────────────────────────────────┴──────────┴──────────────────┤
│ 18 rows                                                                               6 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [23]:
con.sql("select count(*), gender, city from test3 group by gender,city")

┌──────────────┬─────────┬─────────────────────┐
│ count_star() │ gender  │        city         │
│    int64     │ varchar │       varchar       │
├──────────────┼─────────┼─────────────────────┤
│            1 │ Female  │ Dazhigu             │
│            1 │ Female  │ Ganhe               │
│            1 │ Female  │ Kota Bharu          │
│            1 │ Male    │ Cherbourg-Octeville │
│            2 │ Female  │ Prado               │
│            1 │ Female  │ Limit               │
│            1 │ Female  │ Tran                │
│            1 │ Female  │ Nong Chik           │
│            1 │ Female  │ Sosnovyy Bor        │
│            1 │ Female  │ Jielong             │
│            · │   ·     │   ·                 │
│            · │   ·     │   ·                 │
│            · │   ·     │   ·                 │
│            1 │ Female  │ Kalino              │
│            1 │ Male    │ Vilkaviskis         │
│            1 │ Female  │ Bayt Maqdūm         │
│            1 │ Female  │ Sendai              │
│            1 │ Female  │ Tawen Aobao         │
│            1 │ Female  │ Kuala Terengganu    │
│            1 │ Male    │ Johanneshov         │
│            1 │ Agender │ Gaoping             │
│            1 │ Female  │ Baipu               │
│            1 │ Male    │ Angeghakot’         │
├──────────────┴─────────┴─────────────────────┤
│ 990 rows (20 shown)                3 columns │
└──────────────────────────────────────────────┘

In [24]:
con.sql("select count(*), gender, city from test3 group by gender,city having city>1")

BinderException: Binder Error: Cannot compare values of type VARCHAR and type INTEGER_LITERAL - an explicit cast is required

In [25]:
con.sql("select count(*), gender, city from test3 group by gender,city having count(city)>1")

┌──────────────┬─────────┬───────────────┐
│ count_star() │ gender  │     city      │
│    int64     │ varchar │    varchar    │
├──────────────┼─────────┼───────────────┤
│            2 │ Male    │ Dawang        │
│            2 │ Male    │ Limoges       │
│            2 │ Female  │ Fort Beaufort │
│            2 │ Male    │ Keli          │
│            2 │ Female  │ Prado         │
│            2 │ Male    │ Xigangzi      │
│            2 │ Male    │ Nanmu         │
│            2 │ Male    │ Jönköping     │
│            2 │ Female  │ Oslo          │
│            2 │ Male    │ Independencia │
├──────────────┴─────────┴───────────────┤
│ 10 rows                      3 columns │
└────────────────────────────────────────┘

In [ ]:
duckdb.sql("SELECT * from r'./C:\Users\rohit\Desktop\MKT\Index\MW-All-Indices-27-Sep-2024.csv'")