In [1]:
import duckdb

In [2]:
duckdb.sql("CREATE TABLE Employees AS './src/emp.csv'")

ParserException: Parser Error: syntax error at or near "'./src/emp.csv'"

In [3]:
duckdb.sql("CREATE TABLE Employees AS './src/data/emp.csv'")

ParserException: Parser Error: syntax error at or near "'./src/data/emp.csv'"

In [4]:
duckdb.sql("CREATE TABLE Employees AS 'src/data/emp.csv'")

ParserException: Parser Error: syntax error at or near "'src/data/emp.csv'"

In [5]:
duckdb.sql("CREATE TABLE Employees AS '//src//emp.csv'")

ParserException: Parser Error: syntax error at or near "'//src//emp.csv'"

In [6]:
duckdb.sql("CREATE TABLE Employees AS './/src/data//emp.csv'")

ParserException: Parser Error: syntax error at or near "'.//src/data//emp.csv'"

In [7]:
duckdb.sql("CREATE TABLE employees AS './src/data/emp.csv'")

ParserException: Parser Error: syntax error at or near "'./src/data/emp.csv'"

In [8]:
duckdb.sql("CREATE TABLE employees AS 'src/data/emp.csv'")

ParserException: Parser Error: syntax error at or near "'src/data/emp.csv'"

In [9]:
duckdb.connect('src/data/emp.csv')

IOException: IO Error: The file "c:\users\rohit\desktop\rohit\python\python_duck_db\src\data\emp.csv" exists, but it is not a valid DuckDB database file!

In [10]:
duckdb.sql('SELECT * from "src/data/mydata2.csv";')

┌───────┬─────────┬───────┬──────────────┐
│  id   │  name   │  age  │     job      │
│ int64 │ varchar │ int64 │   varchar    │
├───────┼─────────┼───────┼──────────────┤
│     1 │ rohit   │    40 │ IT           │
│     2 │ pammi   │    32 │ Advocate     │
│     3 │ rohan   │     5 │ Students     │
│     4 │ mike    │    40 │ Programmer   │
│     5 │ bob     │    33 │ IT Assistant │
└───────┴─────────┴───────┴──────────────┘

In [11]:
duckdb.sql('SELECT * from "src/data/emp.csv";')

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [14]:
result = duckdb.sql("CREATE TABLE employee2 AS SELECT * FROM 'src/data/emp.csv'")

In [15]:
duckdb.sql('SELECT * FROM employees2')

CatalogException: Catalog Error: Table with name employees2 does not exist!
Did you mean "employee2"?

In [16]:
duckdb.sql('SELECT * FROM employee2')

┌───────┬────────────┬─────────────┬────────────────────────────┬────────────┬─────────────────────────┐
│  id   │ first_name │  last_name  │           email            │   gender   │          city           │
│ int64 │  varchar   │   varchar   │          varchar           │  varchar   │         varchar         │
├───────┼────────────┼─────────────┼────────────────────────────┼────────────┼─────────────────────────┤
│     1 │ Corny      │ O'Rudden    │ corudden0@apple.com        │ Female     │ Shaxi                   │
│     2 │ Katherina  │ Cockshoot   │ kcockshoot1@exblog.jp      │ Female     │ Oslo                    │
│     3 │ Dicky      │ Anespie     │ danespie2@bing.com         │ Male       │ Jarigue                 │
│     4 │ Josias     │ Catterall   │ jcatterall3@friendfeed.com │ Male       │ Liangdang Chengguanzhen │
│     5 │ Pauletta   │ Weymont     │ pweymont4@gizmodo.com      │ Female     │ Alvesta                 │
│     6 │ Edgar      │ Adshed      │ eadshed5@ameblo.jp         │ Male       │ Iriga City              │
│     7 │ Gwenette   │ Harbert     │ gharbert6@goo.ne.jp        │ Female     │ Dazhigu                 │
│     8 │ Field      │ Jandera     │ fjandera7@quantcast.com    │ Male       │ Yenagoa                 │
│     9 │ Silas      │ Ness        │ sness8@delicious.com       │ Male       │ Portland                │
│    10 │ Giacopo    │ Reitenbach  │ greitenbach9@uiuc.edu      │ Male       │ Itapicuru               │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│     · │   ·        │   ·         │         ·                  │  ·         │     ·                   │
│   991 │ Ernest     │ Arbor       │ earborri@ox.ac.uk          │ Male       │ Angeghakot’             │
│   992 │ Erica      │ Hatch       │ ehatchrj@ning.com          │ Female     │ Terek                   │
│   993 │ Griz       │ Kenington   │ gkeningtonrk@github.io     │ Male       │ Klatovy                 │
│   994 │ Thedrick   │ Handke      │ thandkerl@meetup.com       │ Male       │ Delareyville            │
│   995 │ Silvana    │ Duckerin    │ sduckerinrm@tuttocitta.it  │ Non-binary │ La Virginia             │
│   996 │ Judd       │ Palser      │ jpalserrn@desdev.cn        │ Male       │ Yuanping                │
│   997 │ Odella     │ Swyer-Sexey │ oswyersexeyro@i2i.jp       │ Agender    │ Chuzhou                 │
│   998 │ Ingaberg   │ Sterling    │ isterlingrp@nih.gov        │ Female     │ Kissimmee               │
│   999 │ Alexis     │ Tart        │ atartrq@whitehouse.gov     │ Female     │ Maonon                  │
│  1000 │ Adriena    │ Piddlesden  │ apiddlesdenrr@is.gd        │ Polygender │ Bīrganj                 │
├───────┴────────────┴─────────────┴────────────────────────────┴────────────┴─────────────────────────┤
│ 1000 rows (20 shown)                                                                       6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
duckdb.sql('SELECT gender,count(*) FROM employee2 group by gender')

┌─────────────┬──────────────┐
│   gender    │ count_star() │
│   varchar   │    int64     │
├─────────────┼──────────────┤
│ Bigender    │           18 │
│ Male        │          450 │
│ Agender     │           18 │
│ Genderqueer │           20 │
│ Polygender  │           15 │
│ Non-binary  │           17 │
│ Genderfluid │           15 │
│ Female      │          447 │
└─────────────┴──────────────┘

In [18]:
duckdb.sql('SELECT gender,count(*) FROM employee2 where gender=male group by gender')

BinderException: Binder Error: Referenced column "male" not found in FROM clause!
Candidate bindings: "employee2.email"

In [19]:
duckdb.sql('SELECT gender,count(*) FROM employee2 where gender=Male group by gender')

BinderException: Binder Error: Referenced column "Male" not found in FROM clause!
Candidate bindings: "employee2.email"

In [20]:
duckdb.sql('SELECT gender,count(*) FROM employee2 where employee2.gender=male group by gender')

BinderException: Binder Error: Referenced column "male" not found in FROM clause!
Candidate bindings: "employee2.email"